<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= data.name %></title>
  <style>
    .flex-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    .right-area {
      flex: 1;
      margin-left: 30px;
    }

    .left-area img {
      margin-left: 20px;
      width: 200px;
      height: auto;
    }

    th { 
      padding-right: 120px;
      padding-top: 10px;
      padding-bottom: 15px;    
    }
  </style>
</head>

<body>
  <h2><%= data.name %>の詳細</h2>

  <div class="flex-container">

  <div class="left-area">
    <img src="/public/img/<%= data.id %>.jpeg" alt="<%= data.name %>">
  </div>

  <div class="right-area">
  <table>
    <tr><th>項目</th><th>データ</th></tr>
    <tr><td>ID</td><td><%= data.id %></td></tr>
    <tr><td>カード番号</td><td><%= data.code %></td></tr>
    <tr><td>キャラクター名</td><td><%= data.name %></td></tr>
    <tr><td>属性</td><td><%= data.color %></td></tr>
    <tr><td>タグ</td><td><%= data.tag %></td></tr>
  </table>

  <p><a href="/character/edit/<%= id %>">編集</a></p>
  <p><a href="/character/delete/<%= data.id %>" style="color: red;">[データを削除]</a></p>
  <p><a href="/character">一覧に戻る</a></p>
  </div>

  </div>
</body>
</html>